@{
    Layout = null;
}
@model System.Data.DataTable

<table class="table table-striped">
    <thead>
        <tr>
            <td>#</td>
            <td>Email</td>
            <td>Reg Date</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i]["IDX"].ToString()</td>
            <td>@Model.Rows[i]["EMAIL"].ToString()</td>
            <td>@Model.Rows[i]["INDATE"].ToString()</td>
            <td><input class="btn btn-small btn-danger" type="button" value="삭제" onclick="fnDelete('@Model.Rows[i]["IDX"].ToString()')"></td>
        </tr>
    }
    </tbody>
</table>